[data-md-color-scheme="youtube"] {
  --md-primary-fg-color: #26667f;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
}

.center-mermaid {
  display: flex;
  justify-content: center;
}

/* Increase font size inside all callouts (admonitions) */
.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem;
  line-height: 1.7rem;
}

/* make the title of the callout larger */
.md-typeset .admonition-title {
  font-size: 0.9rem;
  font-weight: 400;
}

/* Larger text only in warnings */
.md-typeset .admonition.warning {
  font-size: 0.8rem;
}

.md-typeset table td,
.md-typeset table th {
  font-size: 14px; /* Adjust the desired font size */
}
pre,
code {
  font-size: 1rem; /* Adjust this value as needed */
}

/* Only apply KaTeX style in recurrences.md */
body[data-md-name="unit1"] .katex {
  font-size: 20rem;
  color: rgb(255, 0, 0);
}

/* Targeting KaTeX math symbols
.md-typeset .katex .mord, 
.md-typeset .katex .mbin, 
.md-typeset .katex .mop {
  font-family: 'Times New Roman', serif; 
  font-size: 1.1em;
} */

/* Display equations only
.md-typeset .katex-display {
  font-size: 0.9rem;
  text-align: center;
} */

/* Apply to inline and block KaTeX math
.md-typeset .katex {
  font-size: 1rem; 
  font-family: ;
  color: #0077cc; 
} */

.md-typeset .special-math .katex {
  font-size: 1.3rem;
  font-family: "Fira Code", monospace;
  color: #006600;
}
html {
  font-size: 21px; /* affects everything site-wide */
}
